
.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(255, 0, 225);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

