
.select::after {
    content: "\25BC";
    position: absolute;
    background: #ec4899;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    height: 50px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.fa-trash,
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}


